.results-past {
  color: gray;
}

.results-future {
  color: green;
}

.results-major {
  color: darkorange;
}

.invalid {
  background-color: red;
}

h2 {
  color: firebrick;
}

h2::first-letter {
  text-transform: capitalize;
}
